/* Importando Fonte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Formatação e adicionando fonte */
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Background Principal */
body {
    background-color: #FBD4B3;
}

/* definindo tamanho e dando background ao cabeçalho */
header {
    width: 100%;
    height: 10vh;
    background-color: #1A1717;
}

nav {
    width: 100%;
    height: 10vh;
}

/* Aplicando Flex-Box */
ul {
    width: 90%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Formatando botôes*/
li {
    background-color: #ED5656;
    padding: 1em;
    border-radius: 90px;
}

/* Dando efeito ao passar o Mouse */
li:hover {
    background-color: #e6c532;
}

/* aplicando tamanho da fonte e cor */
li a {
    color: #f1f1f1;
    font-size: 1em;
}

/* Dando efeito ao passar o Mouse na letra */
li a:hover {
    color: #1A1717;
}

/* Configurando cor e espaçamento */
main {
    height: 100%;
    margin: 20vh auto;
    width: 80%;
    background-color: rgba(252, 231, 183, 0.7);
    border-radius: 25px;
    align-items: center;
}

/* Formatação Título */
.align-center {
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

h2 {
    font-size: 22pt;
    text-align: center;
    padding: 10px;
}

#login_cadastro {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    margin-bottom: 100px;
}

/* Formatação caixas */
.area {
    width: 550px;
    height: 550px;
    background: #FFF2F2;
    border-radius: 45px;
}

.cabecalho-login_cadastro {
    display: flex;
    background: #E25252;
    width: 550px;
    height: 80px;
    border-radius: 45px 45px 0px 0px;
}

.cabecalho-login_cadastro h1 {
    font-size: 35px;
    margin: auto;
}

/* Formulário de Login */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.login input {
    font-size: 16px;
    margin-top: 20px;
    background-color: #F5BBBB;
    border: none;
    border-radius: 15px;
    height: 45px;
}

.login ::placeholder {
    text-align: center;
    color: #000;
}

.email-senha {
    width: 80%;
}

#enviar {
    width: 15%;
}

/* Formatação formulário Cadastro. */
.cadastro {
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-top: 30px;

}

.cadastro input {
    font-size: 16px;
    margin-top: 35px;
    background-color: #F5BBBB;
    border: none;
    border-radius: 15px;
    height: 45px;
}

.cadastro ::placeholder {
    text-align: center;
    color: #000;
}



#linha input {
    margin-left: 10px;
    margin-right: 10px;
}

/* Botões de logar com rede Social (Google Instagram e Facebook) */

.rsociais {
    font-size: 20px;
    text-align: center;
    position: relative;
    margin-top: 28px;
}

.botoes-rsociais {
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botoes-rsociais li {

    padding: 15px;
    border-radius: 15px;
    background-color: #F5BBBB;
}

.botoes-rsociais a {
    color: #000;
}

/* Área Propagandas */

.promocao {
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

.promocao article {
    display: flex;
    position: relative;
    background-color: #FCE7B7;

    width: 96%;
    height: 580px;
    margin-left: auto;
    margin-right: auto;
}

.formatacao-img {
    display: flex;
    width: 50%;
    height: 580px;
}

.conteudo-promo {

    display: flex;
    flex-direction: column;
    width: 50%;
    height: 580px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

.conteudo-promo h1 {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;

}

.conteudo-promo p {

    font-size: 30px;
    width: 65%;
    height: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.conf-bolinhas {
    display: flex;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.bolinhas {
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 100px;
    margin-left: 10px;
}

/* Contato */
.Foto img {
    border-radius: 600px;
    position: absolute;
    width: 350px;
    left: 5vw;
    top: 10vh;
    z-index: 0;
}

.info {
    background-color: #ED5656;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 22px;
    text-align: center;
    color: #FCE1B6;
    padding: 25px;
}

.fotosp {
    height: 100%;
    width: 300px;
    border-radius: 15px 0px 0px 15px;

}

.linkcont {
    text-decoration: none;
    color: black;
}

.cont img {
    width: 92px;
    height: 85px;
    background-color: #ED5656;
    box-shadow: -3px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin: 20px;
    padding: 5px;
}

.cont {
    display: inline-flex;
    background-color: #F5BBBB;
    margin: 30px 60px;
    height: 140px;
    width: 90%;
    border-radius: 15px;
}

.texto {
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    position: relative
}

.carda {
    display: inline-flex;
    align-items: center;
    background-color: #F5BBBB;
    margin: 50px;
    width: 93%;
    height: 300px;
    border-radius: 15px;
}

.carda p {
    font-size: 24pt;
    padding: 30px;
}

.div-imagem {
    width: 300px;
    height: 300px;
}

.insta {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.bloco-posts {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
